.sidenav {
  z-index: 99;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  position: absolute;
  right: 0;
  overflow: auto;
  width: 300px;
  height: 100vh;
}

.category {
  color: white;
  font-size: 28px;
  padding-top: 50px;
  align-self: start;
  margin-left: 55px;
  font-weight: bold;
}

.option {
  font-size: 18px;
  margin: 10px auto 10px 70px;
  color: white;
}

.option:hover {
  cursor: pointer;
  color: #ffd520;
  font-weight: bold;
}

.option-active {
  color: #ffd520;;
}

.option-active::before {
  content: "\2022";  /* Add bullet point */
  font-weight: bold;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; 
  margin-left: -1em; 
}

.option-active:hover {
  cursor: default;
  font-weight: normal;
}

.empty-box {
  padding: 25px;
}