.burgermenu {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  transition: 0.3s;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  background-color: white;
  width: 40px;
  height: 5px;
}

.event1 {
  transform: rotate(-45deg) translate(-6px, 8px);
}

.event2 {
  opacity: 0;
}

.event3 {
  transform: rotate(45deg) translate(-6px, -8px);
}
