.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #222222;
  height: 55px;
  box-sizing: border-box;
}

.title {
  margin: 0px;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  justify-self: stretch;
  align-self: center;
  font-size: 22px;
}

.title-short {
  display: block;
}

.title-long {
  display: none;
}

/* Tablet and desktop (and mobiles in landscape) */
@media only screen and (min-width: 425px) {
  .title {
    font-size: 25px;
  }

  .title-short {
    display: none;
  }
  
  .title-long {
    display: block;
  }
}